/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #E1C16A; /* Colore senape */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cover {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    text-align: center;
}

.invitation-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
