/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #E1C16A; /* Colore senape */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cover {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitation-image {
    max-width: 100%;
    max-height: 100vh; /* Limita l'altezza massima all'altezza della finestra */
    width: auto;
    height: auto;
    margin: auto; /* Centro sia orizzontalmente che verticalmente */
}
