/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://drive.google.com/file/d/119yJydB96aDsY9hjKX42cZRXFUBTDR-z/view?usp=drive_link'); /* Sostituisci con l'URL dell'immagine di sfondo */
    background-size: cover;
    background-position: center;
}

.cover {
    background-color: rgba(255, 255, 255, 0.7); /* Opzionale: sfondo semitrasparente per migliorare la leggibilità del testo */
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}
